Flake8==3.8.2
Flask==0.12
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.2
Flask-HTTPAuth==4.0.0
Flask-Login==0.5.0
Flask-Migrate==2.5.3
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.1
itsdangerous==0.24
Jinja2==2.9.4
jsonschema==2.5.1
passlib==1.7.2
python-dotenv==0.13.0
requests==2.12.4
SQLAlchemy==1.1.5
Werkzeug==0.11.15


psycopg2==2.8.4
python-dateutil==2.8.1
python-dotenv==0.13.0
python-editor==1.0.4
requests==2.23.0
SQLAlchemy==1.3.16
sqlparse==0.3.0
Werkzeug==1.0.1
wrapt==1.12.1